<div class="container py-5">
    <div class="row">
        <div class="col-lg-5 m-auto text-center">
            <h1>Contact Us</h1>
            <h4 style="color:rgb(185,5,38);">Always Be In Touch With Us.</h4>
        </div>
    </div>
<div class="row py-5">
    <div class="col-lg-9 m-auto">
        <div class="row">
            <div class="col-lg-4">
                <h6>LOCATION</h6>
                <p>Trichy 620021 k.k.Nagar</p>

                <h6>PHONE</h6>
                <p>0431-20232320</p>

                <h6>EMAIL</h6>
                <p>bikoobikoo@gmail.com</p>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control bg-light" placeholder="First Name">
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control bg-light" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 py-3">
                        <textarea name="" class="form-control bg-light" placeholder="Enter Your Message" id="" cols="10" rows="5"></textarea>
                    </div>
                </div>
                <button class="btn1">Submit</button>
            </div>                                   
        </div>             
    </div>
</div>
<hr>
 <p style="text-align: center; padding: 30px;">Copyright © 2022 All Rights Reserved | Created By: DHARSAN PRABU G K.</p>
