<section class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-7 pt-5 text-center">
                <h1 class="pt-5">Always with you till the end of the road and beyond!</h1>
                <button class="btn1 mt-3">More Tips</button>
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="container py-5">
        <div class="row py-5 ">
            <div class="col-lg-5 m-auto text-center">
                <h1>Biker's Moto</h1>
                <h4 style="color:rgb(185,5,38);">Ride Bike Feel Light</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                      <img src="assets/images/r15.jpg" width="300" class="img-fluid" alt="">
                  </div>
              </div>
              <h6>classic r15</h6>
              <p>Rs.1,95000</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="assets/images/royal enfield.jpg" width="300"class="img-fluid" alt="">
                </div>
            </div>
            <h6>royal enfield</h6>
            <p>Rs.2,00,000</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                      <img src="assets/images/harley davdison.jpg"width="300" class="img-fluid" alt="">
                  </div>
              </div>
              <h6>Harley Davdison</h6>
              <p>Rs.2,50,000</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                      <img src="assets/images/duke adventure.jpg" width="500"class="img-fluid" alt="">
                  </div>
              </div>
              <h6>Duke adventure</h6>
              <p>Rs.1,85,000</p>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6 text-center m-auto">
            <button class="btn1">Click For More</button>
        </div>
    </div>
  </div>
  </section>
  <section class="about">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>A Path With No Obstacles Leads Nowhere Great</h1>
                <h4 style="color:rgb(185,5,38);">So Lets Ridee</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center">
              <img src="assets/images/happy.jpg" class="img-fluid mb-3" alt="">
              <h5><b>Adventuring</b></h5>
              <p><i>Adventure motorcycles, also known as ADV bikes, are larger-displacement multi-cylinder motorcycles developed for on- and off-road travel and are capable of covering great distances while providing the rider with relative comfort.!!
              </i></p>
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/images/riding.jpg" class="img-fluid mb-3" alt="">
            <h5><b>Solo Ride</b></h5>
            <p><i>Boredom and loneliness can happen at times when solo traveling, but finding ways to keep yourself entertained and curious can also lead to you seeing a city in a new way.!!</i></p>
        </div>
        <div class="col-lg-4 text-center">
          <img src="assets/images/racing.jpg" class="img-fluid mb-3" alt="">
          <h5><b>Racing</b></h5>
          <p><i>Racing is a competition of speed, in which competitors try to complete a given task in the shortest amount of time. Typically this involves traversing some distance, but it can be any other task involving speed to reach a specific goal.!!
          </i> </p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center m-auto">
        <button class="btn1">Shop More</button>
    </div>
  </div>
  </div>
  </section>
  <section class="shop">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Explore Our Store</h1>
                <h4 style="color:rgb(185,5,38);">Varieties Of Bikes For Your Use</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                      <img src="assets/images/bmw m1000rr.jpg" class="img-fluid" alt="">
                  </div>
              </div>
              <h6>BMW M 1000RR</h6>
              <p>Rs.12,00,000</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="assets/images/harley1.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <h6>Harley</h6>
            <p>Rs.8,00,000</p>
        </div>
        <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                  <img src="assets/images/ktm rc.jpg" class="img-fluid" alt="">
              </div>
          </div>
          <h6>KTM RC</h6>
          <p>Rs.2,15,000</p>
        </div>
        <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                  <img src="assets/images/r15v3.jpg" class="img-fluid" alt="">
              </div>
          </div>
          <h6>R15 V3</h6>
          <p>Rs.1,85,000</p>
      </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                      <img src="assets/images/enfield hunter350.webp"width="300"height="300" class="img-fluid" alt="">
                  </div>
              </div>
              <h6>Enfield Hunter 350</h6>
              <p>2,56,000</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="assets/images/triumph.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <h6>Triumph</h6>
            <p>Rs.3,25,000</p>
        </div>
        <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                  <img src="assets/images/duke2k.webp"width="300"height="300" class="img-fluid" alt="">
              </div>
          </div>
          <h6>Duke Adventure</h6>
          <p>Rs.2,98,000</p>
      </div>
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
            <div class="card-body">
                <img src="assets/images/r15.jpg" width="200" height="200" class="img-fluid" alt="">
            </div>
        </div>
        <h6>yamaha R15 V3</h6>
        <p>Rs.2,10,000</p>
    </div>